@page "/Workers"
@inject NavigationManager NavigationManager
@inject EmployeeDB Database

<PageTitle>Workers</PageTitle>

<div class="tableBox">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Boss</th>
                <th scope="col">Wage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Worker worker in _workers)
            {
                <tr @onclick="() => ViewDetail(worker.Id)">
                    <td>@worker.Id</td>
                    <td>@worker.Firstname</td>
                    <td>@worker.Lastname</td>
                    <td>@worker.Boss</td>
                    <td>@worker.Wage</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
<div class="buttonBox" @onclick="() => backButton()">
    <button class="btn btn-outline-info justify-content-end">Back</button>
</div>

@code
{
    private List<Worker> _workers = new List<Worker>();

    protected override void OnInitialized()
    {
        _workers = Database.GetWorkers();
    }

    private void backButton ()
    {
        NavigationManager.NavigateTo("/");
    }

    private void ViewDetail(int id)
    {
        NavigationManager.NavigateTo($"/workers/{id}");
    }
}

