@page "/employeeDetail/{id:int}"
@inject EmployeeDB EmployeeDB

<h3 class="d-flex justify-content-center h-25 align-items-center me-5"></h3>

<div class="d-flex justify-content-center h-75 align-items-center">

    @{
        if(employee is Boss boss)
        {
            <p>
                Id: @boss.Id <br />Name: @boss.Firstname @boss.Lastname <br />Age: @boss.Age <br />Department: @boss.Department <br />Salary: @boss.Salary <br />Skill: @boss.Skill
            </p>
        }

        if(employee is Worker worker)
        {
            <p>
                Id: @worker.Id<br />Name: @worker.Firstname @worker.Lastname <br />Age: @worker.Age <br />Boss: @worker.Boss <br />Wage: @worker.Wage <br />Skill: @worker.Skill
            </p>
        }
    }
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    Employee employee = new Employee();

    protected override void OnInitialized()
    {
        employee = EmployeeDB.GetEmployeeByID(ID);
    }
}
